<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新建文章</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <link rel="stylesheet" href="/public/simpleMDE/simplemde.min.css">
    <link rel="stylesheet" href="/public/styles/github-markdown.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="stylesheet" href="/public/styles/write.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-row markdown-container">
            {{!-- 新建文集 --}}
            <div class=" layui-col-lg2 collect-list">
                <div class="list-header">
                    <button type="button" class="layui-btn  layui-btn-fluid"><a href="/render/write/all"
                            style="color:#fff">回到首页</a></button>
                </div>
                <div class="layui-collapse" lay-filter="collect-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">新增文集</h2>
                        <div class="layui-colla-content">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <input type="text" name="collectName" required lay-verify="required"
                                        placeholder="请输入文集名称" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-submit lay-filter="submitCollect">提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary cancel-btn">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="layui-nav layui-nav-tree each-collect" lay-filter="test">
                    {{#each allCollects}}
                    <li class="layui-nav-item" data-id={{id}} data-iname={{collectName}}>
                        <a href="javascript:;"><i class="layui-icon layui-icon-edit"></i>{{collectName}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{!-- 新建文章 --}}
            <div class="layui-col-lg2  article-list">
                <div class="list-header">
                    <button type="button" data-method="offset" data-type="auto"
                        class="layui-btn layui-btn-primary layui-btn-radius  layui-btn-fluid add-article">新增文章</button>
                </div>
                <ul class="each-article">
                    {{#each allArticles}}
                    <li data-id={{WriteID}}>
                        <span>{{Title}}</span><i class="layui-icon layui-icon-set"></i>
                    </li>
                    {{/each}}
                </ul>
                <div class="list-footer">
                    <button type="button" data-method="offset" data-type="auto"
                        class="layui-btn layui-btn-primary layui-btn-radius layui-btn-fluid add-article-end">在底部新增文章</button>
                </div>
            </div>
            {{!-- 编辑markdown --}}
            <div class="layui-col-lg8 markdown-area">
                <div class="inner-markdown-area">
                    <textarea name="MyID" id="MyID" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/layui/layui.js"></script>
    <script src="/public/simpleMDE/simplemde.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script>
        // http://jquery.cuishifeng.cn/ 
        // http://www.fontawesome.com.cn/faicons/
        // https://github.com/sparksuite/simplemde-markdown-editor
        window.onload = function () {
            init();
        }

        var config = {
            mdInstance: undefined,
            addArticlePos: '',// header or footer 
            currentArticleID: undefined, // 当前选择的文章id
            currentCollectID: undefined, // 当前选择的文集id
            currentCollectName: '', // 当前选择的文集名称
        }

        function init() {
            initData();
            addClickEvent();
            addLayuiElement();
            addLayuiLayer();
            addMarkdown();
            addFormHandleEvent(config.mdInstance);
        }

        function initData() {
            if (!config.currentArticleID) {
                var firstNode = $(".each-article li").eq(0)
                config.currentArticleID = firstNode.data('id') || -1
                firstNode.addClass('selected')
                _requestArticleById(config.currentArticleID)
            }

            if (!config.currentCollectID) {
                var firstNode = $(".each-collect li").eq(0)
                config.currentCollectID = firstNode.data('id') || -1
                config.currentCollectName = firstNode.data('iname') || ''
                firstNode.addClass("layui-this")
            }
        }

        function addClickEvent() {
            $(".each-article").on('click', 'li', function (e) {
                var id = $(this).data('id') || -1
                config.currentArticleID = id;
                $(this).addClass('selected').siblings().removeClass("selected");

                _requestArticleById(id)
            })
            $(".each-collect").on('click', 'li', function (e) {
                config.currentCollectID = $(this).data('id') || -1
                config.currentCollectName = $(this).data('iname') || ''
            })
        }

        function _requestArticleById(id) {
            // 获取单一的文章
            return axios({
                method: 'post',
                url: '/api/article',
                data: { id },
            }).then(function (response) {
                var value = response.data.data.markdown
                config.mdInstance.codemirror.setValue(value)
            }).catch(function (error) {
                config.mdInstance.codemirror.setValue('')
            });
        }

        function addLayuiElement() {
            // 注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function () {
                var element = layui.element;

                document.querySelector(".cancel-btn").addEventListener('click', function (e) {
                    document.querySelector(".layui-colla-title").click()
                }, false)
            });
        }

        function addLayuiLayer() {
            layui.use('layer', function () { //独立版的layer无需执行这一句
                var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

                //触发事件
                var active = {
                    offset: function (othis) {
                        var type = othis.data('type');
                        var text = othis.text();

                        layer.open({
                            title: '新增文章',
                            type: 1, offset: type,
                            id: 'layerDemo' + type,
                            area: '400px;',
                            moveType: 1,
                            content: '<div style="padding:20px">' +
                                '<form class="layui-form" action="">' +
                                '<div class="layui-form-item">' +
                                '<input type="text" name="Title" lay-verify="Title" autocomplete="off" placeholder="请输入文章标题" class="layui-input">' +
                                '</div>' +
                                '<div class="layui-form-item layui-form-text">' +
                                '<textarea placeholder="请输入简介" class="layui-textarea" name="Description"></textarea>' +
                                '</div>' +
                                '<div class="layui-form-item" style="text-align:center">' +
                                '<button class="layui-btn" lay-submit lay-filter="submitArticle">提交</button>' +
                                '</div>' +
                                '</form>' +
                                '</div>',
                            btnAlign: 'c',
                            shade: 0,
                        });
                    }
                };

                $('.add-article').on('click', function () {
                    var $this = $(this);
                    var method = $this.data('method');
                    active[method] ? active[method].call(this, $this) : '';
                    config.addArticlePos = 'header'
                });

                $('.add-article-end').on('click', function () {
                    var $this = $(this);
                    var method = $this.data('method');
                    active[method] ? active[method].call(this, $this) : '';
                    config.addArticlePos = 'footer'
                });
            })
        }

        function addMarkdown() {
            var simplemde = new SimpleMDE({
                autofocus: true,
                autosave: {
                    enabled: true,
                    uniqueId: "MyUniqueID",
                    delay: 1000,
                },
                element: document.getElementById("MyID"),
                placeholder: "Type here...",
                renderingConfig: {
                    codeSyntaxHighlighting: true
                },
                toolbar: [
                    "bold",
                    "heading",
                    "code",
                    "quote",
                    "unordered-list",
                    "ordered-list",
                    "link",
                    "image",
                    "table",
                    "horizontal-rule",
                    "preview",
                    "side-by-side",
                    "fullscreen",
                    "guide",
                    {
                        name: "发布文章",
                        action: function customFunction(editor) {
                            // 更新或者编辑文章
                            axios({
                                method: 'post',
                                url: '/api/article/update',
                                data: {
                                    id: config.currentArticleID,
                                    markdown: editor.value(),
                                    html: editor.markdown(editor.value()),
                                    collectID: Number(config.currentCollectID),
                                    collectName: config.currentCollectName,
                                },
                            }).then(function (response) {
                                layer.msg(response.data.message);
                                var result = response.data.data
                            }).catch(function (error) {
                                layer.msg("创建失败");
                            });
                        },
                        className: "fa fa-leanpub",
                        title: "发布文章"
                    }
                ],
                previewRender: function () {
                    $(arguments[1]).addClass("markdown-body")
                    return config.mdInstance.markdown(arguments[0])
                }
            });
            $(".editor-preview-side").addClass("markdown-body")
            config.mdInstance = simplemde
            return simplemde;
        }

        function addFormHandleEvent() {
            layui.use('form', function () {
                var form = layui.form;

                // 新建文集
                form.on('submit(submitCollect)', function (data) {
                    var newData = Object.assign({}, data.field, {
                        description: '',
                        collectTags: ''
                    })

                    axios({
                        method: 'post',
                        url: '/api/collect/create',
                        data: newData,
                    }).then(function (response) {
                        layer.msg(response.data.message);
                        var result = response.data.data
                        window.timers = setTimeout(() => {
                            document.querySelector(".layui-colla-title").click();
                            clearTimeout(window.timer);
                        }, 400);

                        $(".each-collect").append("<li class='layui-nav-item' ><a href = 'javascript:;' ><i class='layui-icon layui-icon-edit'></i> " + result.collectName + "</a ></li>")
                    }).catch(function (error) {
                        layer.msg("创建失败");
                    });

                    return false;
                });

                // 新建文章
                form.on('submit(submitArticle)', function (data) {
                    var newData = Object.assign({}, data.field, {
                        markdown: config.mdInstance.value(),
                        html: config.mdInstance.markdown(config.mdInstance.value()),
                        collectID: Number(config.currentCollectID),
                        collectName: config.currentCollectName,
                    })

                    axios({
                        method: 'post',
                        url: '/api/article/create',
                        data: newData,
                    }).then(function (response) {
                        layer.msg(response.data.message);
                        var result = response.data.data

                        config.currentArticleID = result.WriteID;

                        if (config.addArticlePos === 'header') {
                            $(".each-article").prepend("<li><span>" + result.Title + "</span><i class='layui-icon layui-icon-set'></i></li>")
                        }
                        if (config.addArticlePos === 'footer') {
                            $(".each-article").append("<li><span>" + result.Title + "</span><i class='layui-icon layui-icon-set'></i></li>")
                        }

                        document.querySelector(".layui-layer-close").click()
                    }).catch(function (error) {
                        layer.msg("创建失败");
                    });

                    return false;
                });
            });
        }
    </script>

</html>